<header>
          <img class= "logo" src="/static/images/logo.png">
          
          <nav>
              <ul class=nav-links>
                  <li> <a href="#"> home </a></li>
                  <li> <a href="#"> about </a></li>
                  <li> <a href="#"> articles </a></li>
              </ul>
          </nav> 

          <div class="reg">
           <a class="cta" href="#"><button>Log In</button></a>  
             <a class="cta" href="#"><button>Register</button></a> 
            
          </div>   
</header>