* {
	margin: 0px;
	padding: 0px;
}
body{
    background-image: url("/static/images/background.jpg");
    width: 100%;
}
.lead{
    text-align: center;
    margin:50px;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: white;
}
button{
    background-color: rgba(0,136,169,1);
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color:  rgba(0,136,169,0.8);
}
.re{
    margin-left:42%;
}
h1{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    margin:50px;
}
@media screen and (max-width: 400){
    ul li {
    font-size: .8em;
    }
 }